@model TFGv1_1.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verificar";
}

<main class="main-container">
    <h2 class="mb-4">@ViewBag.Title</h2>

    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider", @Model.Provider)
        @Html.Hidden("rememberMe", @Model.RememberMe)
        <h4>Escribir el código de verificación</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row mb-3">
            @Html.Label("Código de verificación", new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                <input type="text" name="code" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Enviar" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}