@model TFGv1_1.Models.Sensor

@{
    ViewBag.Title = "Eliminar Sensor";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro de que desea eliminar este sensor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GreenHouse.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreenHouse.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
