@model IEnumerable<TFGv1_1.Models.GreenHouse>

@{
    ViewBag.Title = "Lista de Invernaderos";
}
<div class="index-container">
    <div class="index-header">
        <h2 class="index-title">
            <i class="bi bi-flower3 me-2"></i>@ViewBag.Title
        </h2>
         @Html.ActionLink("Crear Nuevo Invernadero", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <table class="table table-responsive table-hover">
    <thead class="table-dark">
            <tr>
                <th><i class="fas fa-tag me-2"></i>Nombre</th>
                <th><i class="fas fa-map-marker-alt me-2"></i>Ubicación</th>
                <th><i class="fas fa-ruler-combined me-2"></i>Área</th>
                <th><i class="fas fa-microchip me-2"></i>Sensores</th>
                <th class="text-end"><i class="fas fa-cogs me-2"></i>Acciones</th>
            </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Location</td>
                    <td>@item.Area m²</td>
                    <td>@item.Sensors.Count dispositivos</td>
                    <td class="text-end">
                        <div class="table-actions">
                            <a href="@Url.Action("Edit", new { id = item.GreenHouseID })" class="btn btn-sm btn-info" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.GreenHouseID })" class="btn btn-sm btn-danger" title="Eliminar">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
    
</div>




    

